
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*  --- ---  ALl  --- --- */

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-width: 24rem;
  max-width: 34rem;
  font-family: 'Poppins', sans-serif;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin: 0 10px;
  transition: all .2s ease-in-out;
}

.icon:hover {
  transform: scale(.9);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  --- ---  HEADER  --- --- */

header {
  background-color: #5cbc9d;
  color: #ffffff;
  text-align: center;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

header div {
  height: 100%;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.2rem;
}

.header_logo {
  justify-content: left;
  width: 70%;
}

.logo {
  height: 70%;
  width: auto;
  margin-right: 10px;
}

.header_settings {
  justify-content: right;
  width: 30%;
}
.header_icon {
  height: 50%;
}

/*  --- ---  MAIN  --- --- */

main {
  padding: 20px;
  height: 20rem;
}


/*  --- ---  FOOTER  --- --- */

footer {
  font-weight: 600;
  height: 2rem;
  width: 100%;
  padding: 10px 0;
  background-color: #5cbc9d;
  color: #ffffff;
  text-align: center;
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.settings {
  right: 0;
  top: 0;
}
footer div.power {
  left: 0;
  top: 0;
}

#stop {
  display: none;  
}